@import "../Sass/misc";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  body {
    background-color: $white;

    // Navbar
    @include myNav();

    // Main
    main {
      padding-bottom: 40px;
      background: linear-gradient(0.25turn, $green, $yellow);

      header {
        font-family: $Henny;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;

        span:nth-child(1) {
          color: $purple;
        }

        span:nth-child(2) {
          color: $green;
        }

        span:nth-child(3) {
          color: $yellow;
        }

        h1 {
          transition: 1s;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .accordion {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 700px;

        .accordion-item-header {
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: $Roboto;

          h4 {
            margin-left: 15px;
          }
        }

        .accordion-item-body {
          font-family: $Roboto;
          max-height: 0;
          overflow: hidden;
          transition: 0.5s;

          .accordion-item-body-content {
            border-top: 1px solid $black;
            border-image: linear-gradient(to right, transparent, $black, transparent) 1;

            p {
              margin-left: 15px;
            }
          }
        }

        .accordion-item-header::after {
          content: " \002B";
          float: right;
          margin-right: 5px;
        }

        .accordion-item-header.active::after {
          content: " \002D";
        }
      }
    }

    // Footer
    footer {
      @include myFooter();
    }

    // Media Query
    @media (max-width: 480px) {
      main {
        header h1 {
          font-size: x-large;
        }

        h4 {
          font-size: medium;
        }
      }
    }
  }
}