@import "../Sass/misc";

body {
  // NavBar
  nav {
    @include myNav();
  }
  // Main
  main {
    height: 86rem;
    filter: brightness(0.9);
    background: url("./images/pexels-eva-bronzini-8059554.jpg") center no-repeat;
    background-size: cover;
    // Header
    header {
      .title {
        display: flex;
        justify-content: center;
        height: 295px;
        padding-top: 40px;
        font-family: $Henny;
        color: $black;
        h1 {
          transition: 2s;
          &:hover {
            transform: scale(1.1);
            span:nth-child(1) {
              color: $green;
            }
            span:nth-child(2) {
              color: $yellow;
            }
            span:nth-child(3) {
              color: $purple;
            }
            span:nth-child(4) {
              color: $green;
            }
            span:nth-child(5) {
              color: $yellow;
            }
            span:nth-child(6) {
              color: $purple;
            }
          }
        }
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        justify-content: center;
        grid-gap: 10px;
        img {
          height: 150px;
          width: 150px;
          transition: 1s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }

    // Light Box
    #lightBox {
      position: fixed;
      z-index: -1;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      transition: 1s;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #lightBox.active {
      z-index: 100;
      opacity: 1;
    }
    .lightBoxImg {
      height: 400px;
      width: 400px;
      border: 4px solid $black;
    }

    // Section
    section {
      .title {
        display: flex;
        justify-content: center;
        padding-top: 45px;
        font-family: $Henny;
      }
      .video_grid {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
        iframe {
          height: 200px;
          width: 200px;
        }
      }
    }
  }

  // Footer
  footer {
    @include myFooter();
  }

  // Media Query
  @media (max-width: 768px) {
    main {
      header {
        .title {
          height: 450px;
        }
        .grid {
          display: grid;
          grid-template-columns: repeat(3, 75px);
          justify-content: center;
          grid-gap: 10px;
          img {
            height: 75px;
            width: 75px;
          }
        }
      }
      section {
        .title {
          padding-top: 25px;
        }
        .video_grid {
          display: flex;
          justify-content: center;
          flex-direction: column;
          iframe {
            height: 90px;
            width: 190px;
          }
        }
      }
    }
  }

  @media (min-width: 769px) and (max-width: 1259px) {
    main {
      header {
        .title {
          height: 450px;
        }
        .grid {
          display: grid;
          grid-template-columns: repeat(3, 90px);
          justify-content: center;
          grid-gap: 10px;
          img {
            height: 90px;
            width: 90px;
          }
        }
      }
      section {
        .title {
          padding-top: 10px;
        }
        .video_grid {
          display: flex;
          justify-content: center;
          flex-direction: column;
          iframe {
            height: 75px;
            width: 200px;
          }
        }
      }
    }
  }
}
