@import "../Sass/misc";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    background-color: $white;

    // Navbar
    @include myNav();

    // Trivia-Game
    #trivia-container {
      position: fixed;
      z-index: 10;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: none;
    }

    #trivia-container.active {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .trivia {
      background: linear-gradient(0.25turn, $green, $yellow);
      height: 80vh;
      border-radius: 20px;
      border: solid black 2px;
    }

    #game-container {
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 500px;

      picture {
        display: none;
      }

      picture.active {
        display: block;
        background-position: center;
        background-size: cover;
        height: 150px;
        width: 150px;
      }

      .title {
        font-family: $Roboto;
        padding: 30px;
        font-size: large;
        font-weight: bold;
      }

      .questions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 280px;

        button {
          width: 320px;
          border-radius: 40px;
          font-family: $Roboto;
          height: 50px;
        }
      }

      .score {
        font-family: $Roboto;
        font-size: x-large;

        #paragraph {
          margin-top: 20px;
          padding-bottom: 10px;
        }

        .score_end {
          font-size: xx-large;
        }
      }
    }

    #game-container.active {
      display: flex;
      height: 100%;
    }

    .correct {
      background-color: $green;
    }

    .incorrect {
      background-color: red;
    }

    .hide {
      display: none;
    }

    // Header
    .headerContainer {
      background: url(./assets/Mradi.jpg) center no-repeat;
      background-size: cover;

      header {
        align-items: center;
        min-height: 530px;
        justify-content: end;

        .text {
          h1 {
            font-size: 29px;
            font-family: $Henny;

            span:nth-child(1) {
              color: $purple;
            }

            span:nth-child(2) {
              color: $green;
            }

            span:nth-child(3) {
              color: $white;
            }
          }

          p {
            font-family: $Roboto;
          }

          .btn-container {
            button {
              transition: 2s;
              @include myButton();

              &:hover {
                transform: rotate(360deg) scale(2);
              }

              padding: 10px;
              border-radius: 20%;
              font-size: large;
            }
          }
        }
      }
    }

    // Carousel
    main {
      padding-bottom: 50px;

      .carousel-inner {
        .carousel-item {
          height: 550px;

          img {
            filter: brightness(55%);
          }

          .carousel-caption {
            h5 {
              font-family: $Pattaya;
              font-size: x-large;
            }

            p {
              font-family: $Roboto;
              font-size: large;
            }
          }
        }
      }
    }

    // Section
    section {
      padding-bottom: 65px;

      .title {
        h3 {
          font-family: $Henny;
        }

        p {
          font-family: $Roboto;
          font-size: large;
        }
      }

      .card-container {
        .row {
          align-items: center;
          height: 250px;

          .card-body {
            display: flex;
            justify-content: center;

            img {
              height: 100px;
              width: 150px;
            }

            button {
              border: none;
            }

            .toggle {
              @include myButton();
            }

            .modal-title {
              font-size: large;
            }

            .modal-body {
              font-family: $Roboto;
              font-size: small;
            }
          }
        }
      }
    }

    // Footer
    footer {
      @include myFooter();
    }

    // Media Query
    @media (max-width: 480px) {
      .headerContainer div header .text h1 {
        padding: 10px;
        margin-top: 20px;
      }

      #game-container {
        width: 345px;

        .title {
          font-size: medium;
          padding: 0px 30px;
        }
      }
    }

    @media (max-width: 769px) {
      .headerContainer div header .text h1 {
        font-size: 22px;
      }
    }

    @media (max-width: 768px) {
      main {
        .carousel-inner {
          .carousel-item {
            img {
              filter: none;
              height: 460px;
            }
          }
        }
      }

      section div .title h3 {
        padding-bottom: 15px;
      }
    }

    @media (max-width: 992px) {
      .headerContainer {
        background-image: none;
        background-color: rgba(255, 205, 1, 255);
      }
    }
  }
}