@import "../Sass/misc";

body {
  background-color: $white;

  // NavBar
  nav {
    @include myNav();
  }

  // Header
  header {
    color: $black;

    .row {
      .text {
        h1 {
          font-family: $Henny;
          font-size: 30px;
          padding-bottom: 10px;

          span:nth-child(1) {
            color: $purple;
          }

          span:nth-child(2) {
            color: $green;
          }

          span:nth-child(3) {
            color: $yellow;
          }
        }

        p {
          font-size: 22px;
          font-family: $Roboto;
        }
      }

      .img {
        background-image: url(./images/mathias-elle-_qWqp_VjInU-unsplash.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 5%;
        height: 600px;
      }
    }
  }

  // Main
  main {
    color: $black;

    .row {
      margin-bottom: 50px;

      .text {
        h1 {
          font-family: $Henny;
          padding-bottom: 10px;

          span:nth-child(1) {
            color: $purple;
          }

          span:nth-child(2) {
            color: $green;
          }

          span:nth-child(3) {
            color: $yellow;
          }
        }

        p {
          font-size: 22px;
          font-family: $Roboto;
          padding-left: 50px;
        }
      }

      .img {
        background-image: url(./images/PopTech-_LaToya_Cantrell_\(cropped\).jpg);
        background-size: cover;
        border-radius: 5%;
        height: 600px;
      }
    }
  }

  // Footer
  footer {
    @include myFooter();
  }

  @media (max-width: 768px) {
    header {
      .row {
        padding: 50px 0px;

        .text {

          p {
            font-size: 18px;
          }

          h1 {
            font-size: x-large;
          }
        }
      }
    }

    main {
      .row {
        .text {
          p {
            font-size: 18px;
            padding-left: 0;
          }
        }
      }
    }
  }
}