@import "../Sass/misc";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  body {
    background-color: $white;

    // NavBar
    @include myNav();

    // Section
    section {
      color: $black;

      .row {
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h1 {
            font-family: $Henny;
            font-size: 30px;
            padding-bottom: 10px;

            span:nth-child(1) {
              color: $purple;
            }

            span:nth-child(2) {
              color: $green;
            }

            span:nth-child(3) {
              color: $yellow;
            }
          }

          p {
            font-size: 22px;
            font-family: $Roboto;
          }

          .mayorInfo {
            padding-left: 30px;
          }
        }

        figure {
          background-size: cover;
          border-radius: 5%;
          height: 600px;
        }

        .clown {
          background-image: url(./assets/mathias-elle-_qWqp_VjInU-unsplash.jpg);
          background-position: center;
        }

        .mayor {
          background-image: url(./assets/PopTech-_LaToya_Cantrell_\(cropped\).jpg);
        }
      }
    }

    // Footer
    footer {
      @include myFooter();
    }

    @media (max-width: 768px) {
      section {
        .row {
          padding: 50px 0px;

          .text {
            p {
              font-size: 18px;
            }

            .mayorInfo {
              padding-left: 0;
            }

            h1 {
              font-size: x-large;
            }
          }
        }
      }
    }
  }
}